.preview {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 50px auto 0;

}

.preview .textPlatform {
    width: 220px;
    height: 16px;
    font: 700 16px 'Montserrat';
    color: #2B788B;
}

.preview h1 {
    color: #000000;
    font: 400 56px 'Dela Gothic One';
}

.preview .textAdditional {
    font: 600 18px 'Montserrat';
    color: #757575;
    width: 395px;
    height: 50px;
}

.preview .btn {
    border-radius: 100px;
    background: var(--primaty-cyan-light, #C3DCE3);
    color: #2B788B;
    background-color: #C3DCE3;
    padding: 14px 22px;
    width: 165px;
    text-align: center;
}

.preview .lightning {
    display: inline-block;
    vertical-align: middle;
    background-image: url(./assets/Frame\ 35271.svg);
    width: 24px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}

.preview .plus {
    color: #2B788B;

}

.preview .studentsCount {
    font: 400 40px 'Dela Gothic One';
}

.preview .studentsText {
    font: 600 15px 'Montserrat';
    color: #585858;
    text-align: center;

}

.preview .statistic {
    width: 175px;
}

.preview .img{
    width: 933px;
    height: 601px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./assets//Frame\ 24.svg);
    position: absolute;
    left: 50%;
}

.preview .content{
    width: 520px;
}