.wrapper {
    border-radius: 14px;
    background: #FFF;
    padding: 20px;
    width: 1180px;
    height: 18px;
}

.img {
    background-image: url('./assets/fluent_hat-graduation-24-filled.svg');
    width: 32px;
    height: 32px;
}